@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  margin: 0;
  padding: 0;
  width: 1886px;
  font-family: Poppins;
}
 header {
  height: 1030px;
  width: 100%;
  position: relative;
  background-color: #98bec7;/*#99bfc8;*/
}

.top-curv {
  width: 1937px;
  height: 154px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.back-image {
  left: 0;
  width: 1887px;
  height: 845px;
  z-index: 1;
  position: relative;
}
.top-back-img {
  width: 1888px;
  height: 468px;
  margin-top: -66;
}
.top-container {
  height: 100px;
  width: 1530px;
  margin: 0px 180px;
  padding: 10px 195px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  z-index: 2;
}
.site-logo {
  height: 63px;
  width: 66px;
  display: inline-block;
}
.top-links {
  display: inline-block;
  width: auto;
  margin-left: 143px;
  position: absolute;
  margin-top: 0px;
  padding: 0;
  top: 0;
  clear: both;
}
.links {
  margin: 0;
  padding: 0;
}
.link {
  display: inline-block;
  width: auto;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 60px;
  /* color: #256d98; */
  color: #b69864;
  font-weight: 600;
  position: relative;
  margin-right: 34px;
}
.link > a {
  color: #b69864;
  text-decoration: none;
}
li.active > a {
  color: #256d98;
}
li.active:after {
  content: '';
  width: 8px;
  height: 4px;
  background-color: #256d98;
  position: absolute;
  bottom: 3px;
  right: 30%;
}
li.active:before {
  content: '';
  width: 8px;
  height: 4px;
  background-color: #256d98;
  position: absolute;
  bottom: 3px;
  right: 60%;
}
.so-links {
  /* display: inline-block; */
  /* background: grey; */
  display: inline-block;
  width: auto;
  /* margin-left: 143px; */
  position: absolute;
  margin-top: 0px;
  padding: 0;
  top: 0;
  right: 195px;
  /* clear: both; */
  float: right;
}
.so-text {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 60px;
  color: #256d98;
  font-weight: 600;
  font-family: "Poppins";
  display: inline-block;
  /* padding: 0;
  margin: 0; */
}
.so-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #b6cdcd;
  box-sizing: border-box;
  padding: 4px 9px;
  margin: 0px 7px;
}
.so-icon > a > i {
  color: black;
}
.so-icon:hover > a > i {
  color: white;
}
.so-icon:hover {
  background-color: #3e3e72;
  box-shadow: 0px 0px 2px 3px white , 0px 0px 2px 6px #3e3e72;
}
.so-icons { display: inline-block; margin-left: 10px;}


.big-text {
  font-size: 42px;
  color: #256d98;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin-top: 150px;
}
.big-text > p {
  margin: 0;
}
.small-text {
  /* width: 730px; */
  /* height: 65px; */
  font-size: 18px;
  letter-spacing: 0px;
  color: #256d98;
  font-weight: 400;
  text-align: center;
  margin-top: 32px;
}
.btn-touch {
  width: 177px;
  height: 53px;
  border-radius: 27px;
  filter: drop-shadow(0px 5px 4.5px rgba(37,109,152,0.16));
  background-image: linear-gradient(45deg, #d0a05b 0%, #256d98 100%);
  font-size: 16px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 700;
}

.btn-vid {
  width: 234px;
  height: 53px;
  border-radius: 27px;
  filter: drop-shadow(0px 5px 4.5px rgba(37,109,152,0.16));
  background-color: #b8dfe0;
  font-size: 16px;
  letter-spacing: 0px;
  color: #256d98;
  font-weight: 700;
  text-align: center;
  margin-left: 20px;
}
.btn-touch, .btn-vid {
  border: 0;
}
.header-buttons {
  text-align: center;
  margin-top: 36px;
}



/* second sections */
.sec-container {
  width: 1886px;
  padding: 0px 195px;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
}
.sec-container {
  /* width: ;
  margin-left: ; */
  min-height: 50px;
  margin-left: 180px;
  width: 1530px;
  background: blue;
  padding: 100px 0;
  background: red;
}
/* second section */
