@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* @import url('fonts.css'); */
html {
  scroll-behavior: smooth;
}
a:hover, .ncdetailsbox > a {
  color: #f49239;
}
body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  overflow-x: hidden;
}
.main-container {
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  width: auto;
  position: relative;
}
.second-sec, .price-sec, .mail-sec, .testimonial-sec, .service-sec, .imgs-sec, .startups-sec, .news-sec, .brands-sec, footer {
  width: 1920px;
  /* background: green; */
  /* height: 100px; */
  margin: 0 auto;
  /* border: 1px solid black; */
  min-height: 100px;
}
.second-sec {
  padding-top: 80px;
  background: #fff;
  padding-bottom: 30px;
}
header{
  background-color: #98bec7;
  max-width: 1920px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
}
.hcontainer {
  width: 1530px;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  left: 50%;
}

/* top header */
  .top-header {
    width: 1133px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
  }
  .site-logo {
    height: 63px;
    width: 66px;
    margin-top: 20px;
    display: inline-block;
  }
  .top-links {
    display: inline-block;
    width: auto;
    margin-left: 143px;
    position: absolute;
    margin-top: 20px;
    padding: 0;
    top: 0;
    clear: both;
  }
  .links {
    margin: 0;
    padding: 0;
  }
  .link {
    display: inline-block;
    width: auto;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 60px;
    color: #b69864;
    font-weight: 600;
    position: relative;
    margin-right: 34px;
  }
  .link > a {
    color: #b69864;
    text-decoration: none;
  }
  li.active > a {
    color: #256d98;
  }
  li.active:after {
    content: '';
    width: 8px;
    height: 4px;
    background-color: #256d98;
    position: absolute;
    bottom: 3px;
    right: 30%;
  }
  li.active:before {
    content: '';
    width: 8px;
    height: 4px;
    background-color: #256d98;
    position: absolute;
    bottom: 3px;
    right: 60%;
  }
  .so-links {
    width: auto;
    position: absolute;
    padding: 0;
    top: 20px;
    right: 0px;
  }
  .so-text {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 60px;
    color: #256d98;
    font-weight: 600;
    font-family: "Poppins";
    display: inline-block;
  }
  .so-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #9cc0c8;/*#b6cdcd;*/
    box-sizing: border-box;
    padding: 4px 9px;
    margin: 0px 7px;
  }
  .so-icon > a > i {
    color: black;
    margin-top: 1vh;
  }
  .so-icon:hover > a > i {
    color: white;
  }
  .so-icon:hover {
    background-color: #3e3e72;
    box-shadow: 0px 0px 2px 3px white , 0px 0px 2px 6px #3e3e72;
  }
  .so-icons { 
		display: inline-block; 
		margin-left: 10px;
		text-align: center;
	}
/* top header */

/* header text */
  .big-text {
    font-size: 42px;
    color: #256d98;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin-top: 150px;
  }
  .big-text > p {
    margin: 0;
  }
  .small-text {
    font-size: 18px;
    letter-spacing: 0px;
    color: #256d98;
    font-weight: 400;
    text-align: center;
    margin-top: 32px;
  }
  .btn-touch {
    width: 177px;
    height: 53px;
    border-radius: 27px;
    filter: drop-shadow(0px 5px 4.5px rgba(37,109,152,0.16));
    background-image: linear-gradient(45deg, #d0a05b 0%, #256d98 100%);
    font-size: 16px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 700;
  }
  .btn-vid {
    width: 234px;
    height: 53px;
    border-radius: 27px;
    filter: drop-shadow(0px 5px 4.5px rgba(37,109,152,0.16));
    background-color: #b8dfe0;
    font-size: 16px;
    letter-spacing: 0px;
    color: #256d98;
    font-weight: 700;
    text-align: center;
    margin-left: 20px;
  }
  .btn-touch, .btn-vid {
    border: 0;
	cursor: pointer;
  }
  .header-buttons {
    text-align: center;
    margin-top: 36px;
  }
  .header-text-div {
    z-index: 3;
    position: relative;
  }
/* header text */

/* header back cover */
  .back-top, .back-bottom {
    width: 100%;
    max-width: 1920px;
  }
  .back-cover {
    position: relative;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
  }
  .curv-div {
    z-index: 3;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
/* header back cover */

/* second section */
/* .sec-content, .img-content {
  position: absolute;
}
.img-content */
.container {
  width: 1530px;
  position: relative;
  /* background: red; */
  height: auto;
  margin: 0 auto;
}
.second-sec > .container {
  display: grid;
  grid-template-columns: 60% 40%;
  /* background: red; */
  /* grid-gap: 51px; */
}
.img-content {
  text-align: right;
}
.sec-content {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  padding-left: 193px;
}
.sec-ttl {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 40px;
}
.sec-title {
  /* width: 268px;
  height: 41px; */
  font-size: 42px;
  letter-spacing: 1px;
  color: #171717;
  font-weight: 700;
  margin: 0;
}
.sec-sub-text {
  font-size: 18px;
  letter-spacing: 0px;
  color: #4a4a4a;
  font-weight: 400;
  margin: 0;
}
.sec-card1, .sec-card2, .sec-card3, .sec-card4 {
    display: grid;
    grid-template-columns: 15% auto;
}
.sec-card-icon {
  /* width: 43px;
  height: 43px; */
  margin-top: 10px;
}
.sec-card > div {
  margin: 0;
  padding: 0;
  height: auto;
}
.card-item-ttl, .card-item-dec {
  padding: 0;
  margin: 0;
}
.card-item-ttl {
  font-size: 24px;
  letter-spacing: 1px;
  color: #171717;
  font-weight: 500;
}
.card-item-dec {
  margin-top: 7px;
  font-size: 12px;
  letter-spacing: 0px;
  color: #4a4a4a;
  font-weight: 400;
}
/* second section */

/* price section */
.price-sec {
  background: #f2f2f2;
  padding-bottom: 100px;
  padding-top: 80px;
}
.price-heading, .testimonial-heading, .news-heading {
  padding-bottom: 60px;
  text-align: center;
}
.price-heading > p, .testimonial-heading > p, .news-heading > p {
  font-size: 42px;
  letter-spacing: 1px;
  color: #171717;
  font-weight: 700;
}
.price-heading > span, .testimonial-heading > span {
  font-size: 18px;
  letter-spacing: 0px;
  color: #4a4a4a;
  font-weight: 400;
}
.price-cards-container {
  /* background: blue; */
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  max-width: 1133px;
  margin: 0 auto;
}
.price-card {
  width: 100%;
  min-height: 100px;
  /**/
  /* width: 357px;
  height: 527px; */
  border-radius: 15px;
  filter: drop-shadow(0px 6px 4.5px rgba(37,109,152,0.22));
  background-color: #ffffff;
  padding: 25px 20px;
  max-width: 357px;
  min-height: 527px;
  overflow: hidden;
  box-sizing: border-box;
}
#s_card .pc-underline {
  width: 79px;
  height: 5px;
  margin: 0 auto;
  background-image: linear-gradient(45deg, #d0a05b 0%, #256d98 100%);
}
.pc-underline {
  width: 79px;
  height: 5px;
  background-image: linear-gradient(45deg, #d0a05b 0%, #256d98 100%);
}
#s_card > .pcard-top {
  text-align: center;
}
.pcard-ttl {
  font-size: 21px;
  letter-spacing: 1px;
  color: #171717;
  font-weight: 700;
  margin-bottom: 5px;
  padding: 0;
  margin-top: 0;
}
.pcprice {
  font-size: 62px;
  letter-spacing: 2px;
  color: #171717;
  /* font-weight: 700; */
  font-weight: bold;
  position: relative;
  margin-top: 30px;
  padding: 0;
  margin-bottom: 0;
}
.pcprice > sup {
  font-size: 30px;
  top:6px;
  position: absolute;
}
.pcprice > span {
  margin-left: 18px;
}
.pcard-ext {
  font-size: 18px;
  letter-spacing: 0px;
  color: #4a4a4a;
  font-weight: 400;
  margin: 0;
}
.pcard-dec > p {
  font-size: 18px;
  letter-spacing: 0px;
  color: #4a4a4a;
  font-weight: 400;
  font-family: "Poppins";
}
.pcard-dec  {
  padding-left: 31px;
  padding-top: 1px;
  padding-bottom: 10px;
  /* z-index: 2; */
}
.pcbtn {
  width: 177px;
  height: 53px;
  border-radius: 27px;
  filter: drop-shadow(0px 5px 4.5px rgba(37,109,152,0.16));
  background-color: #256d98;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 700;
  border: 0;
  margin-top: 10px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}
.card-bottom-back {
  position: absolute;
  bottom: -133px;;
  z-index: 0;
  left: -65px;
}
.card-side-back {
  position: absolute;
  /* bottom: -133px;; */
  z-index: 0;
  right: -18px;
  /* left: -50px; */
}
#e_card > .card-side-back {
  position: absolute;
  z-index: 0;
  right: -33px;
}
/* price section */

/* mail section */
.mail-sec {
  background: #256d98;
  padding: 200px 0;
  position: relative;
  overflow: hidden;
  max-height: 718px;
  box-sizing: border-box;
}
.mail-sec p {
  font-size: 42px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 700;
  margin: 0;
  margin-bottom: 35px;
}
.mail-sec span {
  font-size: 18px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 400;
}
.mi-dec {
  width: 50%;
  margin-left: 50%;
  display: inline-block;
  min-height: 100px;
  text-align: center;
}
.mail-img {
  position: absolute;
  left: -334px;
  top: 50px;
  z-index: 0;
}
.newsletter{
  height: auto; /*56px;*/
  width: 412px;
  border-radius: 28px;
  background: #fff;
  padding: 7px;
  margin: 33px auto 0 auto;
  display: grid;
  grid-template-columns: 70% 30%;
}
.newsletter > button {
  border: 0;
  background: #d0a05b;
  border-radius: 24px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.newsletter > button:hover {
  background: #c0b05e;
}
.newsletter > input {
  float: left;
  padding: 10px;
  padding-left: 40px;
  width: 100%;
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 400;
  border: 0;
  border-radius: 24px;
}
.newsletter > input::placeholder {
  color: #4a4a4a;
}
/* mail section */

/* testimonial section */
.testimonial-sec {
  /* background: #f2f2f2; */
  background: #fff;
  padding-bottom: 100px;
  padding-top: 80px;
}
.testimonial-container {
  /* background: blue; */
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  max-width: 1133px;
  margin: 0 auto;
  margin-bottom: 150px;
}
.testimonial-card {
  background: #256d98;
  min-height: 100px;
  /* width: 100%; */
  width: 370px;
  height: 256px;
  border-radius: 0px 50px 0px 0px;
  padding: 56px 24px;
  box-sizing: border-box;
}
.testimonial-card > .t-top {
  font-size: 20px;
  color: #ffffff;
  font-weight: 300;
}
.t-img {
  border-radius: 150px !important;
  border: .5em solid #e3e3e3  !important;
}
.t-bottom p {
  font-size: 15px;
  color: #000000;
  font-weight: 999;
  margin-bottom: 0;
}
.t-bottom { position: relative; }
.t-bottom > div {
  display: inline-block;
  position: absolute;
  top: 50px;
  right: 30px;
}
.testimonial-sec > .container {
  margin-bottom: 80px;
}
.dots-div {
  text-align: center;
}
.dot {
  width: 11px;
  height: 11px;
  background-color: #ccc;
  border-radius: 5px;
  display: inline-block;
  margin-left: 7px;
}
.dot.active {
  background: #256d98
}
/* testimonial section */
/* service section  */
  .service-sec {
    background-color: #f2f2f2;
  }
  .service-sec > .container {
    padding: 67px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    max-width: 1133px;
    margin: 0 auto;
  }
  .left-ss, .right-ss {
    width: 100%;
    min-height: 50px;
  }
  .ser-ttl {
    font-size: 42px;
    line-height: 50px;
    color: #000000;
    /* font-weight: 700; */
    font-weight: 999;
    margin: 0;
    margin-bottom: 47px;
    margin-top: 135px;;
  }
  .left-ss > span {
    font-size: 18px;
    line-height: 30px;
    color: #4a4a4a;
    font-weight: 400;
    display: block;
    margin-bottom: 39px;
  }
  .ser-btn {  
    width: 195px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(45deg, #f26452 0%, #b83691 100%);
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
  }
  .ser-btn:hover, .btn-touch:hover, .btn-vid:hover, .pcbtn:hover  {
    box-shadow: 0px 7px 5px #333;
  }
  .sscard-grid {
    display: grid;
    grid-template-columns: auto auto;

  }
  .sscard {
    width: 256px;
    max-height: 321px;
    box-sizing: border-box;
    background: #fff;
    padding: 40px 0 40px 40px;
    margin-top: 30px;
  }
  .ssimg, .ssdetails, .sscard-link {
    display: block;
  }
  .ssdetails {
    font-size: 16px;
    line-height: 26px;
    color: #455265;
    font-weight: 400;
    margin-bottom: 24px;
  }
  .sscard-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    color: #f49239;
    font-weight: 400;
  }
  .sscard-ttl {
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    font-weight: 600;
    font-family: "Montserrat";
    margin: 0;
    margin-top: 20px;
  }
  .grid-r > .sscard {
    margin-top: calc(50% + 60px);
  }
/* service section  */

/* imgs section */
.imgs-sec > .container {
  padding: 100px 0 125px 0;
}
.i-container {
  display: grid;
  grid-template-columns:  25% 25% 25% 25%;
  grid-gap: 0;
}
.ibox {
  height: 380px;
  width: 100%;
  overflow: hidden;
}
.im1 { margin-left: -80px; margin-top: -15px; }
.im2 { margin-left: -160px; }
.im3 { margin-left: -100px; }
.im4 { margin-left: -200px; margin-top: -30px; }
.im5 { margin-left: -80px; }
.im6 { margin-left: -30px; margin-top: -30px; }
.im7 { margin-left: -113px; }
.im8 { margin-left: -210px; margin-top: -12px; } 
/* imgs section */

/* startup section */
.startups-sec {
  background: #f2f2f2;
}
.startups-sec > .container {
  padding: 58px 0;
  position: relative;
}
.startups-sec p {
  font-size: 24px;
  letter-spacing: 1px;
  color: #171717;
  font-weight: 500;
  margin: 0;
  margin-bottom: 25px;
}
.startups-sec span {
  font-size: 12px;
  letter-spacing: 0px;
  color: #4a4a4a;
  font-weight: 400;
}
.startups-sec > .container > div, .sbtnbox {
  display: inline-block;
}
.startups-sec > .container > div {
  margin-left: 193px;
}
.sbtnbox  {
  border: 0;
  width: 195px;
  height: 60px;
  border-radius: 30px;
  background-color: #f49239;
  /**/
  font-size: 17px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
  position: absolute;
  right: 238px;
  top: 78px;
}
.sbtnbox:hover {
  border: 2px solid white;
  box-shadow: 0px 2px 5px #333;
}
/* startup section */

/* news section */
.news-sec {
  background: #fff;
  padding-top: 80px;
}
.ncimgbox {
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
}
.newscard {
  width: 350px;
  border-radius: 5px;
  box-shadow: -0.326px 0.946px 8px rgba(232,235,234,0.53);
  background-color: #ffffff;
}
.newscard:hover {
  filter: drop-shadow(3.661px 41.84px 27px rgba(241,241,241,0.91));
}
/* .newscard:nth-child(2) {
  filter: drop-shadow(3.661px 41.84px 27px rgba(241,241,241,0.91));
} */
.news-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  width: 1133px;
  margin: 0 auto;
}
.news-heading { padding-bottom: 0; }
.ncdetailsbox {
  padding: 20px 0 20px 38px;
  box-sizing: border-box;
}
.ncdate {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 28px;
  color: #a4a3a3;
  font-weight: 500;
  
}
.ncdetailsbox > p {
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 28px;
  color: #000000;
  font-weight: 600;
  margin: 23px 0px 28px 0px;
}
.ncdetailsbox > span {
  font-size: 16px;
  line-height: 24px;
  color: #455265;
  font-weight: 400;
}
.ncdetailsbox > a {
  margin-top: 38px;
  margin-bottom: 40px;
  display: block;
  text-decoration : none;
  color: #000;
}
.target_1, .target_2, .target_3 {
  margin-left: 4px;
}
/* news section */

/* brands section */
.brands-sec {
  width: 1335px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding: 102px 113px 88px 112px;
  transform: translateY(50%);
}
/* brands section */

/* footer section */
footer {
  background-image: url('imgs/Footer BG.png');
  padding: 200px 0px 50px 0px;
}
.fbottom {
  border-top: 1px solid #6a6a6a;
  padding-top: 50px;
  padding-left: 30px;
  padding-bottom: 60px;
}
.fbottom > .fbl > p {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 31px;
  color: #6a6a6a;
  font-weight: 400;
  margin: 0;
}
.fbr, .fbl {
  width: 50%;
  display: inline-block;
}
.fbl { float: left;}
.fbr { float: right;}
.fbr > i {
  color: #6a6a6a;
  float: right;
  margin: 0;
  margin-right: 10px;
}
.flinks-box {
  display: grid;
  grid-template-columns: 65% 35%;
  /* background-color: grey; */
}
.links-cols, sub-rows {
  width: 100%;
  min-height: 100px;
}
.links-cols {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  padding-left: 25px;
  margin-bottom: 100px;
}
.so-row, .em-row {
  height: 100px;
}

p.fb-ttl {
  margin: 0;
  margin-bottom: 45px;
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 31px;
  color: #256d98;
  font-weight: 400;
  text-transform: uppercase;
}
.flinks-col  a {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 31px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  display: block;
}
.em-row {
  margin-top: 75px;
}
.sub-rows .fb-ttl {
  margin: 0;
  margin-left: 10px;
  margin-bottom: 25px;
}
.emailtext {
  width: 413px;
  height: 40px;
  border-radius: 19px;
  background-color: #2f2f2f;
  border: 0;
  margin-bottom: 25px;
	box-sizing: border-box;
  color: white;
	padding-left: 13px;
	color: white;
	box-sizing: border-box;
}
.bottom-btn {
  width: 144px;
  height: 40px;
  border-radius: 20px;
  background-color: #d0a05b;
  border: 0;
  /**/
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 13px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}
.bottom-btn:hover {
	cursor: pointer;
	box-shadow: 0 2px 5px #f2f3f2;
}

.bso-links {
  width: auto;
  padding: 0;
}
.bso-icon {
  display: inline-block;
  box-sizing: border-box;
  padding: 6px 14px;
  margin: 0px 7px;
  /**/
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: #ffffff;
}
.bso-icon > a > i {
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 31px;
  color: #232323;
}
.bso-icon:hover > a > i {
  color: white;
}
.bso-icon:hover {
  background-color: #3e3e72;
  box-shadow: 0px 0px 2px 3px white , 0px 0px 2px 6px #3e3e72;
}
.bso-icons { 
	display: inline-block; 
	margin-left: 10px;
	text-align: center;
}
/* footer section */

/*  */
.only-mob {
  display: none;
}
input:focus, button:focus, a:focus {
	outline: none !important;
}
button:hover {
	cursor: pointer;
}
.bso-icon > a > i {
	color: black;
	font-size: 1.2rem;
	letter-spacing: 0px;
	line-height: 0px;
	color: #232323;
	/*transform: translateX(-50%);
	margin: 50% 50%;*/
	transform: translateY(-50%);
  margin: 50% 0px 0px 0px;
}

/* bottom so icons */

/*.bso-icon:nth-child(1):hover > a > i {
  color: white;
}*/
.bso-icon:hover > a > i {
  color: white;
}

span.bso-icon:nth-child(1):hover, span.so-icon:nth-child(4):hover{
  background: #ec1a23;
}
span.bso-icon:nth-child(2):hover {
  background: #41b1db;
}
span.bso-icon:nth-child(3):hover, span.so-icon:nth-child(1):hover  {
  background: #1877f2;
}
span.bso-icon:nth-child(4):hover, span.so-icon:nth-child(3):hover {
  background: #00abec;
}
span.bso-icon:nth-child(5):hover {
  background: #f8991b;
}
span.so-icon:nth-child(2):hover{
  background: #0076b4;
}
/*#0076b4 linkedin*/
/* bottom so icons */

.bso-icon, .so-icon  {
	cursor: pointer;
	padding: 0px;
}

#slider_box > div {
  padding: 5px;
  margin: 3px;
  border: 2px solid #333;
}
/* .owl-dots {
  text-align: center;
  margin: 100px 0 0 0;
} */
.owl-dots {
  text-align: center;
  margin: 10px 0 0 0;
}
.owl-carousel button.owl-dot {
  width: 11px;
  height: 11px;
  background-color: #ccc !important;
  border-radius: 5px;
  display: inline-block;
  margin-left: 7px;
}
.owl-carousel button.owl-dot.active { 
  background: #256d98 !important;
}
.owl-carousel .owl-item img {
  display: inline-block !important;
  /* width: 6vw !important; */
  /* height: 6vw !important; */
}
.owl-carousel .owl-stage-outer {
  overflow: visible !important;
}
.testimonial-sec > .container {
  margin-bottom: 0px;
  overflow-x: hidden;
  width: 90vw;
  max-width: 1133px;
}
.testimonial-sec {
  padding-bottom: 0px;
}
.testimonial-container {
  margin-bottom: 100px;
}
