* {
    color: white;
}

body {
    margin:0;
    padding:0;
    background: #157;
}

.row {
    justify-content: center;
    text-align: center;
}

div[id] {
    width: 20%;
    height: 20vh;
    border: 1px solid white;
    display: inline-block;
    background: #234;
}

footer, header {
    text-align: center;
    font-size: 25px;
    padding-top: 4vh;
}

.board-sec {
    width: 80vw;
}

.score-panel {
    background-color: #147;
    border-left: 5px solid white;
    height: 100vh;
    width: 20vw;
    position: fixed;
    top: 0;
    right: 0;
    padding: 5vh 1vw;
    box-sizing: border-box;
    font-size: 15px;
}

button[id='reset'] {
    background: #283;
    padding: .5vw 1vw;
    font-size: 1.2em;
    letter-spacing: 5px;
    border-radius: 5px;
    margin: 3vh auto;
}

table {
    width: 100%; 
}

td, th, table {
    border: 1px solid white;
}
td, th {
    text-align: center;
    font-size: 15px;
    padding: 1vh 2vw;
}
