/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

body {
   margin: 0;
   padding: 0;
   line-height: 1.4;
   width: 100vw;
   overflow-x: hidden;
}
.container {
  width: 85vw;
  box-sizing: border-box;
  margin: 0 auto;
}

.main-head {
  background-color: #f4631b;
  width: 100vw;
  box-sizing: border-box;
}

.grid-top  {
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  box-sizing: border-box;
  width: 100vw;
}

.logo {
  display: inline-block;
  margin: 25px 100px;
  height: auto;
  width: 100%;
}
.big-search {
  font-size: 15px;
  margin-top: 25px;
  text-indent: 20px;
  width: 40vw;
  padding: 10px;
  display: inline-block;
  border-radius: 50px 0 0 50px;
  border: none;
  height: 12vh;
  /* width: 100%; */
}

.s-btn {
  background-color: #222529;
  border-radius: 0 50px 50px 0;
  padding: 2px 10px 2px 15px;
  height: 12vh;
  font-size: 30px;
  color: white;
}

.icon-link {
  width: 10vw;
  text-align: right;
  margin-left: 30px;
}
.icon-link > a, .sicon-link > a {
  position: relative;
}

.icon-counter {
  position: absolute;
  top: -12px;
  right: 0;
  background: #222529;
  color: white;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: .7em;
  border-radius: 50px;
}

.header-icon {
  display: inline-block;
  margin: 25px 0 0 5px;
  font-size: 30px;
  color: white;
  padding: 5px;
}

.search-container {
  margin-top: 25px;
  margin-right: 0px;
  text-align: right;
  position: relative;
}

.search-container input[type=text] {
  font-size: 13px;
  padding: 2vh 2vw;
  border:  none;
  width: 30vw;
  border-right: 1px solid #abe;
  height: 45px;
  box-sizing: border-box;
  background: #f5f5f5;
  border-radius: 50px 0 0 50px;
  float: right;
}

.search-container select {
  padding: 1vh 1vw;
  height: 45px;
  font-size: 13px;
  color: grey;
  width: 10vw;
  border: 0;
  box-sizing: border-box;
  background: #f5f5f5;
  float: right;
  appearance: none;
  /* position: relative; */
}

.select-dd {
  font-size: 17px;
  color: black;
  font-weight: 0;
  position: absolute;
  top: 10px;
  right: 5vw;

}

 .search-container button {
  float: right;
  height: 45px;
  padding: 1vh 1vw;
  background: #222;
  border-radius: 0 50px 50px 0;
  margin-right: 16px;
  font-size: 13px;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
}

@media screen and (max-width: 600px) {
  .search-container {
    float: none;
  }
  input[type=text], .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  input[type=text] {
    border: 1px solid #ccc;
  }
}

/* nav bar */

.nav-bar {
  box-shadow: 0px 5px 120px rgb(0 0 0 / 20%);
  font-size: 13px;
  font-weight: 700;
  color: #222529;
  padding: 1vh 0;
  margin: 0;
  height: 40px;
  position: sticky;
  position: -webkit-sticky;
  display: block;
  top: 50px;
  z-index: 999;
}
.nav-container {
  width: 90%;
  box-sizing: border-box;
  margin: 0 auto;

}
.nav-head {
  float: right;
  width: auto;
  display: inline-block;
  margin-right: 30px;
}

.nav {
  float: left;
  margin-top: 5px;
  padding-left: 20px;
}

.nav-head > p { margin-top: 7px;}

.nav > .nav-item {
  list-style-type: none;
  display: inline-block;
  padding: 0 10px;
}

.sub-nav > .sub-nav-item {
  font-size: 13px;
  letter-spacing: 1px;
  padding: 10px;
  margin: 5px 0 5px 5px;
}

.sub-nav > .nav-column > .sub-nav-item {
  font-size: 13px;
  letter-spacing: 1px;
  padding: 7px;
  margin: 5px 0 5px 5px;
}


.nav > .nav-item > a, .sub-nav > .sub-nav-item > a,  .sub-nav > .nav-column > .sub-nav-item > a {
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
}
.sub-nav-item:hover {
  background: black;
}
.sub-nav-item:hover a{
  color: white;
}
.sub-nav > .nav-column > .sub-nav-item:hover a {
  text-decoration: underline;
}
.sub-nav > .nav-column > .sub-nav-item:hover {
  background: white;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
}

.content {
  padding-top: 60px;
}
/* sticky */
.slogo {
  display: none;
  margin-top: 5px;
  height: 30px;
  padding: 2vh auto;
  box-sizing: border-box;
  float: left;
  color: black;
}
.slogo > img {
  height: 30px;
  margin-left: 30px;
}

.sicon-link {
  float: right;
  margin-top: 0;
}
.sheader-icon {
  display: inline-block;
  margin: 1px 0 0 15px;
  font-size: 30px;
  font-weight: 0;
  color: black;
  padding: 5px;
}

.nav-item:hover .sub-nav {
  display: block;
  position: absolute;
}

ul.nav-item {
  padding-inline-start: 0px !important;
}

.nav-item > a > i {
  margin: auto 5px;
}

.sub-nav {
  display: none;
  padding: 15px 10px;
  background: white;
  min-width: 200px;
  z-index: 3;
  position: absolute;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, .5);
  margin-top: 0px;
  width: auto;
}
.sub-nav:hover {
  display: block;
  z-index: 999;
}

.nav-column {
  display: inline-block;
  width: auto;
  height: 100px;
  margin-top: 0;
  padding-top: 0;
}
.sub-nav-img {
  width: 220px;
  height: 320px;
}

.sub-nav-title {
  font-size: 14px;
  font-weight: bolder;
  margin: 0 0 5px 7px;
  padding-top: 0;
  color: #434d53;
  padding: 0 5px;
  text-transform: uppercase;
}

/* nav bar */


/* slider */

/* .slider-divin-right, .slider-divin-left {
  display: none;
  display: inline-block;
  width: 40%;
  position: absolute;
  z-index: 2;
  height: auto;
  min-height: 100px;
  width: 40%;
}

.slider-divin-right {
  background: rgba(150, 100, 100, .5);
  right: 0;
}
.slider-divin-left {
  background: rgba(100, 100, 150, .5);
  left: 0;
}  */

.header-slider {
  width: 100vw;
  overflow:hidden;
  height: 80vh;
  position: relative;
}
.slider {
  background-position: center;
  background-size: cover;
  height: 100%;
  /* z-index: -1; */
  /* display: none; */
  width: 100%;
}
.slider {
  background-image: url('imgs/home_slide1.jpg');
}
.slide2 {
  background-image: url('imgs/home_slide3.jpg');
}
.slide3 {
  background-image: url('imgs/home_slide2.jpg');
}

.slider-divin-right {
  height: auto;
  position: absolute;
  top: 30%;
  right: 7vw;
  /* z-index: 2; */
  transition: translateY(-50%);
}

.slider-divin-left {
  height: auto;
  position: absolute;
  top: 30%;
  left: 8vw;
  width: 40%;
  /* z-index: 2; */
  transition: translateY(-50%);
  text-align: left;
}

.slider-divin-right > button > a { text-decoration: none; color: #222;}
.slider-divin-right > button.active { text-decoration: none; color: #f4631b;}
.slider-divin-right > button.active a { text-decoration: none; color: #f4631b;}
.slider-divin-right > button::after {
  content: '';
  position: absolute;
  color: inherit;
  top: 50%;
  border-top: 2px solid;
  width: 16px;
}
.slider-divin-right > button  {
  font-size: 20px;
  position: relative;
  white-space: nowrap;
  display: block;
  min-width: 200px;
  background-color: transparent;
  border: none;
  margin: 20px 15px;
  font-weight: 700;
  text-align: right;
  outline: none;
  border: none;
  cursor: pointer;
}


.slider-divin-left > h5 {
  font-size: 27px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: -.01em;
  margin: 0;
  margin-bottom: 0;
  color: #444;
  z-index: 1;
}

.slider-divin-left > h2 {
  font-size: 60px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -.05em;
  margin: 0;
  margin-left: -3px;
  margin-bottom: 7px;
  color: #222529;
  z-index: 1;
}


.slider-divin-left >  button {
  border: 0;
  font-size: 16px;
  font-weight: 600;
  z-index: 1;
  text-transform: uppercase;
  color: #fff;
  background-color: #222529;
  margin-top: 30px;
  padding: 20px 47px;
  cursor: pointer;
}


/* slider */


/* footer */

.mail-div {
  background-color: #f4631b;
  width: 100vw;
  padding: 15px 7vw 20px 7vw;
  display: grid;
  grid-template-columns: auto auto auto;
  box-sizing: border-box;
  color: white;
}

.mail-input input[type=text] {
  font-size: 17px;
  padding: 2vh 2vw;
  border:  none;
  width: 25vw;
  border-right: 1px solid #abe;
  height: 50px;
  box-sizing: border-box;
  background: #f5f5f5;
  border-radius: 50px 0 0 50px;
  float: right;
}

.mail-input button {
  float: right;
  height: 50px;
  padding: 1vh 3vw;
  background: #222;
  border-radius: 0 50px 50px 0;
  margin-right: 16px;
  font-size: 13px;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
}

.mail-div > div > p {
  font-size: 13px;
  margin-left: 50px;
}

.mail-div > div {
  height: 50px;
  box-sizing: border-box;
}

.footer-info {
  width: 100vw;
  height: auto;
  padding: 0 7vw;
  box-sizing: border-box;
  /* background-color: blue; */
}

.footer-cont {
  width: 45%;
  /* background: green; */
  box-sizing: border-box;
  display: inline-block;
  padding: 45px 0;
}

.footer-links {
  width: 45%;
  height: 100%;
  /* background: yellow; */
  box-sizing: border-box;
  display: inline-block;
}


.link-div {
  width: 30%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  display: inline-block;
}

.info1 {
  display: block;
  margin: 0 0 60px 0;
}

.info2, .info3, .info4 {
  display: inline-block;
  width: 25%;
}

.info2 > p:first-child, .info3 > p:first-child ,.info4 > p:first-child {
  font-size: 11px;
  color: grey;
  color: #777;
}
.info2 > p, .info3 > p,.info4 > p {
  line-height: 1.2;
  margin:3px 0;
  color: #222529;
}
/* .info4 > p{ height: 10px; } */

.social-icons {
  color: #777;
  margin: 0 3.2px;
  font-size: 30px;
}
.info4 {
  transform: translateY(30%);
}

/*--------------------------------------*/

.link-div > span, .link-div > a {
  display: block;
}
.link-div > a {
  text-decoration: none;
  color: #777777;
  font-size: 13px;
  padding: 5px 0px;
}
.link-div {
  margin : 5px 0px 20px;
}

.footer-bottom {
  width: 100vw;
  height: auto;
}

.fb-content {
  width: 90vw;
  margin: auto;
  padding: 10px 0;
}

.fb-content::before {
  content: '';
  border-top: 1px solid #e1e1e1;
  display: block;
  margin-bottom: 18px;
}

.fb-content > div {
  float: right;
  height: auto;
  min-height: 50px;
}
.fb-content > address {
  line-height: 40px;
  color: #777777;
  font-size: 13px;
}
/* footer */

/* slideup */
.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
/*slideup*/


/* top-header */

.top-header {
    background: white;
    padding: 0px 100px;
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    /* position: relative; */
    width: 100vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 25% 75%;
}
.top-header  li {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}

.lng-div {
  padding: 10px 0;
}

#htd1 > ul, #htd2 > ul {
  text-align: right;
  padding-left: 0;
  padding-right: 30px;
}

#htd1 {
  position: absolute;
  padding: 0px 10px;
  color: #777;
  font-size: 11px;
  z-index: 10;
  background: white;
  cursor: pointer;
  border-radius: 3px;
  display: none;
  box-shadow: 0 0 3px rgb(0 0 0 / 25%);
}

#htd2 {
  position: absolute;
  margin-left: 70px;
  padding: 0px 10px;
  color: #777;
  font-size: 11px;
  z-index: 10;
  background: white;
  cursor: pointer;
  border-radius: 3px;
  display: none;
  box-shadow: 0 0 3px rgb(0 0 0 / 25%);
}

#htd1:hover, #htd2:hover { background-color: #dddddd;}

#htd1:before, #htd2:before {
  content: '';
  display: block;
  height: 0;
  position: absolute;
  width: 0;
  border: 6px solid;
  border-color: transparent transparent #fff transparent;
  z-index: 99;
  left: 10px;
  top: -12px;
}

#htd1  li:after, #htd2  li:after {
  left: 9px;
  top: -14px;
  border: 7px solid;
  border-color: transparent transparent #bbb transparent;
  z-index: 98;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.contry-text  {
  font-size: 11px;
  line-height: 1.4
}

#htd2 { display: none;}

.top-lang-div {
  display: inline-block;
  margin: 0px 16px;
  cursor: pointer;
  /* width: 30vw; */
  width: 100%;
}

.top-lang-div:first-child {
  margin: 0 16px 0 0;
}


/*----------------------------------*/
.top-links-div {
  /* position: absolte; */
  display: inline-block;
  width: 100%;
  float: none;
  text-align: right;
  box-sizing: border-box;
  padding-left: 0px;
}
.top-links-div > ul {
  text: right;
}

.top-links-div > ul > li > a {
  padding: 0 15px;
  font-size: 12px;
  color: #999;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 1.4;
}

.lng-div {
  width: 40%;
  display: inline-block;
}

.top-flag {margin: 0 5px;}


/* top-header */

/* featured products */

.featured-sec, .newarive-sec {
  height: auto;
  width: 85vw;
  margin: 0 auto;
  padding-top: 3.5vw;
  padding-bottom: 5vh;
}

.sec-ttl:after {
  content: '';
  border-top: 1px solid #e1e1e1;
  display: block;
  margin-bottom: 18px;
}
.sec-ttl > strong {
  font-size: 16px;
  line-height: 42px;
  color: #313131;
}
.sec-ttl {
  margin: 0px 0px 24px;
}


.item-row {
  display: grid;
  padding: 0;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 2px;
  /* background: #124; */
  height: auto;
  min-height: 50px;
  margin-top: 15px;
  width: 100%;
  box-sizing: border-box;
}

.item-card {
  width: 100%;
  height: auto;
  background: #333;
  box-sizing: inherit;
  overflow: hidden;
}

.item-row > li {
  list-style-type: none;
}
.item-link {
  text-decoration: none;
  font-size: 15px;
  color: #5b5b5f;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
}
.price-box > .price {
  color: #444444;
  font-size: 18px;
  font-weight: 600;
}
.price-box {
  margin: 8px 0 13px;
}
.item-details {
  margin: 15px 0px 10px;
  font-style: 'Open Sans';
}

.product-image {
  width: 185px;
  height: 185px;
}

.item-photo {
  position: relative;
}

.qv-div {
  background-color: #f4631b;
  position: absolute;
  color: white;
  bottom: 10px;
  width: 185px;
  box-sizing: border-box;
  padding: 10px 5px;
  text-align: center;
  opacity: 0;
  display: block;

  -webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-o-transition: all .7s ease;
	-ms-transition: all .7s ease;
	transition: all .7s ease;
}
.qv-div > span {
  font-size: 13px;
  font-weight: 600;
}

.item-photo:hover .qv-div {
  opacity: 1;
}

.product-rating {
}

.product-rating > i {
  font-size: .8em;
  color: #999999;
}

/* featured products */

/* ad section */

.ad-sec{
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.ad-container {
  width: 90%;
  margin: 20px auto;
  padding-left: 40px;
}

.half-ad-div {
  width: 49%;
  margin-right: 5px 10px;
  display: inline-block;
  position: relative;
}
#ad1, #ad2 {
  width: 42.5vw;
  height: auto;
}
#ad2 {
  float: right;
}

.r-caption {
  position: absolute;
  left: 10px;
  top: 30px;
}
.l-caption {
  position: absolute;
  right: 50px;
  top: 35px;
}

.had2 > .r-caption {
  position: absolute;
  left: 50px;
  top: 35px;
}
.had2 > .l-caption {
  position: absolute;
  right: 20px;
  top: 25px;
}

.btn-org {
  padding: 10px 20px;
  background-color: #f4631b;
  border: 0;
  text-transform: uppercase;
  text-shadow: none;
  letter-spacing: 0;
  font-weight: 700;
  color: white;
  font-size: 12px;
}

.ad-caption > p {
  margin-top: 20px;
}

.ad-caption > h4 {
  font-size: 16px;
  margin: 0;
  line-height: 19px;
  font-weight: 900;
  color: #444;
}
.ad-caption > h4 > b {
  font-size: 1.625em;
  line-height: 1.5;
  display: block;
  font-weight: bolder;
}

.ad-caption > h2 {
  padding-left: 30px;
  font-size: 35px;
  color: #222529;
  font-weight: 700;
  line-height: .7;
}

/* ad section */

/* iconcards sections */

.iconcards-sec {
  background: #f4f4f4;
}
.iconcards-container {
  width: 85vw;
  margin: 0px auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap : 10px;
}
.ic-icon {
  color: #222529;
  font-size: 30px;
}
.ic-text > h3 {
  font-size: 16px;
  font-weight: 600px;
  color: #222529;
}
.ic-item {
  text-align: center;
  display: inline-block;
  padding: 40px 0;
  background: #fff;
  margin: 30px 0;
}

.ic-item:hover {
  box-shadow: 0 0 15px rgba(0,0,0, .2);
}
.ic-item:hover .ic-icon {
  color: #f4631b;
}

.ic-link {
  text-decoration: none;
}

/* iconcards sections */

/* special offers */
.so-container {
  width: 85vw;
  margin: 30px auto;
  padding: 40px 0;
  position: relative;
}
.so-sec {
  background: #f4f4f4;
}
.os-ad-thumb {
  width: 380px;
  height: 217px;
}
.os-left {
  width: 33%;
  display: inline-block;
}

.os-right {
  width: 65%;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 35%;
}
.os-right > .tab-navs {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.tab-item-box > .os-tab-link  {
  color: #313131;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  margin: 0 5px;
  padding: 0 10px;
}

.tab-item-box > .os-link-active {
  color: #F4631B;
  padding-bottom: 20px;
  border-bottom: 3px solid #F4631B;
}
.tab-navs {
  padding: 20px;
  border: none;
}
/*.tab-navs > .active-link-box {
   padding-bottom: 20px;
  border-bottom: 3px solid #F4631B;
}*/
.os-row {
  display: grid;
  padding: 0;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2px;
  /* background: #124; */
  height: auto;
  min-height: 50px;
  margin-top: 15px;
  width: 100%;
  box-sizing: border-box;
}
.os-row  li { list-style-type: none;}
.os-sec-ttl:after {
  content: '';
  border-top: 1px solid #e1e1e1;
  display: block;
  margin-bottom: 18px;
}
.os-sec-ttl > strong {
  font-size: 16px;
  line-height: 42px;
  color: #313131;
}
.os-sec-ttl {
  margin: 0px 0px 30px 0px;
}
.fav-div {
  /* position: absolute;
  right: 10px;
  top: 50%; */
  width: 10%;
  display: inline-block;
}
.os-row  .product-image {
  height: 120px;
  width: 150px;
  padding: 15px;
}
.os-nav  .item-link, .os-nav .price-box {
  margin: 5px auto;
}
.os.nav .item-link {
  width: 70%;
  display: inline-block;
}
i.fav-icon {
  color: #C1C3C5;
  font-size: 17px;
}
.item-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}


.os-content-box {
  display: none;
}

/* special offers */


/* sub-cat section */


.sc-container {
  width: 90vw;
  margin: 0px auto;
  padding-top: 3.5vw;
  padding-bottom: 3.5vw;
  margin-bottom: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto;
}

.sc-l-div, .sc-r-div {
  /* width: 40%; */
  display: inline-block;
  position: absolute;
  top: 30px;
}

.sc-l-div { left: 30px; }
.sc-r-div { right: 30px; }
.sc-card {
  padding: 80px;
  margin-bottom: 20px;
  max-width: 100%;
  position: relative;
  text-transform: uppercase;
  border: 1px solid #f4f4f4;
}

.sc-title > h3 {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #222529;
}

.sc-btn {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -.3px;
  text-transform: uppercase;
  padding: 8px 20px;
  color: #fff;
  background-color: #07080a;
  border-color: #020202;
  text-decoration: none;
}

/* sub-cat section */

/* support section */
.support-card > i {
  line-height: 58px;
  font-size: 50px;
  background-color: transparent;
  float: center;
  color: #f4631b;
  width: auto;
  height: auto;
  border-radius: 0;
  padding-bottom: 20px;
  display: inline-block;
}
.support-container {
  width: 85vw;
  margin: 0px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
}
.support-card {
  text-align: center;
}
.support-details {
  text-align: center;
}
.support-details > h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #2b2b2d;
  margin: 0;
}
.support-details > h6 {
  font-weight: 600;
  font-size: 17px;
  color: #21293c;
  line-height: 22px;
  margin-bottom: 20px;
  margin-top: 0;
}
.support-details > p {
  font-size: 16px;
  line-height: 26px;
      color: #7b858a;
}
.support-sec {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f4f4f4;
}
/* support section */


/* bottom columns */

.col-container {
  width: 85vw;
  /* padding-top: 3.5vw;
  padding-bottom: 3.5vw;
  margin-bottom: 50px; */
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto;
}
.col-item {
  position: relative;
  margin: 10px 0;
}
.col-image {
  position: relative;
  width: 50%;
  display: inline-block;
}
.col-image > img {
  height: 85px;
  width: 85px;
}
.col-details {
  display: inline-block;
  width: 45%;
  position: absolute;
  top: 5px;
  right: 50px;
}
.col-details > .price-box > .price {
  font-size: 14px;
}
.old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 14px;
  font-weight: 600;
}
a:hover { color: #F4631B;}
.col-image:hover { cursor: pointer; }
/* bottom columns */

/* brands */

.tb-container {
  width: 85vw;
  margin: 20px auto;
  /* display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto auto; */
}

.brand-item {
  width: 15%;
  display: inline-block;
  padding: 20px 16px;
  text-align: center;
}

/* brands */

.footer-arrow {
  height: 40px;
  position: fixed;
  right: 15px;
  width: 40px;
  z-index: 9999;
  bottom: -20px;
  background-color: #404040;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 1;
  padding: 11px 0;
  display: none;
  border-radius: 5px 5px 0 0;
}

/* add to cart icon */

.item-photo > a{
  position: relative;
}

.atc-icon {
  opacity: 0;
  position: absolute;
  top: -160px;
  right: 15px;
  color: #222529;
  background: white;
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 1em;
  box-sizing: border-box;
  padding-top: .5em;
  border-radius: 50px;
}
.item-photo:hover .atc-icon {
  opacity: 1;
}
.os-row  .atc-icon {
  top: -120px;
}

.atc-icon:hover {
  background-color: #F4631B;
  color: white;
}

.only-mob, .only-mob-sicon{
  display: none;
}
